<div class="border-bottom border-weight-2 my-3">
<h1 class="mb-3">New restaurant</h1>
</div>
<div class="d-flex flex-column row">

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name, wrapper_html: { class: 'col-6' } %>
  <%= f.input :address, wrapper_html: { class: 'col-6' } %>
  <%= f.input :phone_number, wrapper_html: { class: 'col-6' } %>
  <%= f.input :category, wrapper_html: { class: 'col-6' } %>
  <%= f.submit %>
<% end %>

</div>
